@font-face {
  font-family: FreeSerif;
  src: url(https://raw.githubusercontent.com/Maxattax97/gnu-freefont/master/woff/FreeSerif.woff);
}
@font-face {
  font-family: "Segoe UI Historic";
  src: url(http://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.woff);
}


.spinner-text {
  font-size: 32px;
  text-color: #000;
  text-align: center;
  margin-left: 10px;
  font-family: FreeSerif;
  /* display: none; */
}


.spinner {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 150px;
  position: absolute;
  /* z-index: 100; */
  /* background: #EEE; */
  align-items: center;
  transition: opacity 2s linear;
  opacity: 1.0;
}
.spinner::before {
  display: inline-block;
  position: absolute;
  opacity: 0.25;
  z-index: -2;

  content: " "; /* U+202F U+00A0 */
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width='742.26691' height='564.26947' id='svg2' sodipodi:version='0.32' inkscape:version='1.2.2 (732a01da63, 2022-12-09)' version='1.0' sodipodi:docname='Glagolitic_myslete_circles.svg' inkscape:output_extension='org.inkscape.output.svg.inkscape' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/'%3E%3Cdefs id='defs4' /%3E%3Csodipodi:namedview id='base' pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1.0' gridtolerance='10000' guidetolerance='10' objecttolerance='10' inkscape:pageopacity='0.0' inkscape:pageshadow='2' inkscape:zoom='0.96102398' inkscape:cx='237.76722' inkscape:cy='161.2863' inkscape:document-units='px' inkscape:current-layer='layer1' showgrid='false' inkscape:window-width='1920' inkscape:window-height='974' inkscape:window-x='-11' inkscape:window-y='-11' inkscape:showpageshadow='2' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' inkscape:window-maximized='1' /%3E%3Cmetadata id='metadata7'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1' transform='translate(-5.0000045,-37.997414)'%3E%3Cpath id='path2749' style='display:inline;fill:%23000000;stroke-width:42;stroke-miterlimit:4;stroke-dasharray:none' inkscape:label='path2749' d='M 607.8711 37.999367 C 580.80815 38.155551 562.7928 37.427663 474.02149 47.884133 L 371.16602 59.999367 L 259.63282 49.423195 C 168.74057 40.803754 145.56105 39.415032 134.38672 41.919289 C 122.24749 42.638327 113.28347 46.210445 106.90821 51.839211 C 112.37528 51.036091 117.92601 50.483742 123.62305 50.483742 L 135.07032 50.483742 C 197.90524 50.483742 248.49024 101.07068 248.49024 163.90562 C 248.49024 194.50699 236.43075 222.14481 216.86329 242.50718 C 244.2283 239.3866 263.72337 202.14297 257.82422 103.94663 L 249.45704 87.321633 L 263.16797 89.15757 C 322.88925 97.151272 329.79288 101.82353 335.97071 138.41538 C 345.03244 192.0895 321.34675 264.5924 276.22657 321.28843 L 260.87891 340.57163 L 237.44141 342.03452 C 204.31177 344.47242 179.83075 354.63319 161.83594 368.8939 L 204.78711 368.8939 C 263.01031 368.8939 309.88282 415.76837 309.88282 473.99155 L 309.88282 491.68101 C 309.88282 528.51588 291.09273 560.76483 262.56641 579.5189 C 301.67596 579.3932 338.24529 559.80479 355.58594 499.68882 C 359.63791 479.01244 357.7984 447.91332 351.21875 425.85874 C 345.4501 406.5225 326.40786 378.33912 312.4375 368.45835 C 279.93432 345.21563 360.62274 287.28366 372.36133 260.97984 C 383.65061 249.59648 388.81639 252.30224 405.55469 278.36655 C 413.35488 290.51282 430.96492 313.33603 444.6875 329.08335 C 469.49888 357.55563 469.60091 357.73808 463.25782 361.99155 C 426.33655 386.74948 406.87891 425.2089 406.87891 473.42905 C 408.26396 587.77628 491.40471 610.80659 558.89454 584.29038 L 523.19727 584.29038 C 462.6682 584.29038 413.93946 535.55968 413.93946 475.03062 C 413.93946 414.50155 462.6682 365.7728 523.19727 365.7728 L 573.14454 365.7728 C 578.54928 365.7728 583.81558 366.2916 589.00586 367.04234 C 569.29337 350.86876 551.02701 344.39059 526.13868 344.20445 C 507.336 344.06385 506.55511 343.76085 496.60352 332.74546 C 483.25513 317.97043 458.81763 280.20099 445.80665 254.2357 C 416.53017 195.81064 408.44989 133.5959 426.79297 107.8353 C 434.92907 96.409337 447.74155 91.306908 480.72461 86.352883 C 523.59997 79.913119 522.73925 79.742874 514.03125 92.901711 C 496.86447 118.84246 488.93875 161.59469 495.14844 194.75132 C 503.24509 230.55551 521.15838 253.64955 543.59375 266.46421 C 525.15219 246.30897 513.83204 219.51724 513.83204 189.91929 L 513.83204 175.35093 C 513.83204 112.516 564.41898 61.931008 627.25391 61.931008 L 635.57813 61.931008 C 652.70296 61.931008 668.85573 65.796016 683.38477 72.534523 C 676.12951 64.891037 667.83089 57.22598 658.38868 49.573586 C 665.0922 44.977471 635.28404 37.841163 607.8711 37.999367 z ' /%3E%3Cg id='g1872' transform='translate(1.6388855,10.598267)' inkscape:label='g1872' style='display:inline'%3E%3Cpath id='path1811' style='display:inline;fill:%23000000' d='M 619.49393,29.4011 A 126.13345,126.13345 0 0 0 493.36112,155.53587 126.13345,126.13345 0 0 0 619.49393,281.66868 126.13345,126.13345 0 0 0 745.6287,155.53587 126.13345,126.13345 0 0 0 619.49393,29.4011 Z m 1.10938,60 c 8.62025,0.0077 17.36789,1.756417 25.33984,5.158203 7.86171,3.401997 14.7834,8.097427 20.77148,14.078127 5.98092,5.9881 10.67633,13.0261 14.07813,20.99805 3.40239,7.97932 5.1582,16.42891 5.1582,25.45898 0,8.91965 -1.75639,17.36984 -5.1582,25.3418 -3.4018,8.09675 -8.09721,15.01818 -14.07813,20.88867 -5.98808,5.74566 -12.90977,10.44 -20.77148,13.8418 -7.97195,3.51902 -16.42,5.1582 -25.33984,5.1582 -9.14748,0 -17.6932,-1.68662 -25.57618,-5.1582 -7.83338,-3.44975 -14.80845,-8.06206 -20.76367,-13.8418 -6.01379,-5.8366 -10.67632,-12.79192 -14.07812,-20.88867 -3.51923,-7.97196 -5.15821,-16.42215 -5.15821,-25.3418 0,-9.03007 1.6388,-17.47965 5.15821,-25.45898 3.4018,-7.97195 8.09741,-15.00995 14.07812,-20.99805 5.98811,-5.9807 12.90935,-10.67613 20.76367,-14.078127 7.86174,-3.402376 16.87915,-5.166203 25.57618,-5.158203 z' /%3E%3C/g%3E%3Cg id='g1872-0' transform='translate(-393.36111,320.59827)' style='display:inline'%3E%3Cpath id='path1811-9' style='display:inline;fill:%23000000' d='M 619.49393,29.401097 A 126.13345,126.13345 0 0 0 493.36111,155.53586 126.13345,126.13345 0 0 0 619.49393,281.66868 126.13345,126.13345 0 0 0 745.62869,155.53586 126.13345,126.13345 0 0 0 619.49393,29.401097 Z m 1.10937,60 c 8.62025,0.0077 17.36789,1.756417 25.33985,5.158203 7.86171,3.401997 14.7834,8.09743 20.77148,14.07813 5.98091,5.9881 10.67633,13.0261 14.07813,20.99804 3.40238,7.97932 5.1582,16.42892 5.1582,25.45899 0,8.91965 -1.7564,17.36984 -5.1582,25.34179 -3.4018,8.09676 -8.09722,15.01819 -14.07813,20.88868 -5.98808,5.74566 -12.90977,10.44 -20.77148,13.84179 -7.97196,3.51903 -16.42001,5.15821 -25.33985,5.15821 -9.14748,0 -17.6932,-1.68662 -25.57617,-5.15821 -7.83338,-3.44974 -14.80846,-8.06205 -20.76367,-13.84179 -6.0138,-5.8366 -10.67632,-12.79192 -14.07813,-20.88868 -3.51922,-7.97195 -5.1582,-16.42214 -5.1582,-25.34179 0,-9.03007 1.6388,-17.47966 5.1582,-25.45899 3.40181,-7.97194 8.09741,-15.00994 14.07813,-20.99804 5.9881,-5.9807 12.90935,-10.676133 20.76367,-14.07813 7.86173,-3.402376 16.87914,-5.166203 25.57617,-5.158203 z' /%3E%3C/g%3E%3Cg id='g1872-7' transform='translate(-93.361115,320.59827)' style='display:inline'%3E%3Cpath id='path1811-97' style='display:inline;fill:%23000000' d='M 619.49393,29.401097 A 126.13345,126.13345 0 0 0 493.36112,155.53586 126.13345,126.13345 0 0 0 619.49393,281.66868 126.13345,126.13345 0 0 0 745.6287,155.53586 126.13345,126.13345 0 0 0 619.49393,29.401097 Z m 1.10938,60 c 8.62026,0.0077 17.36789,1.756417 25.33984,5.158203 7.86171,3.401997 14.7834,8.09743 20.77149,14.07813 5.98091,5.9881 10.67633,13.0261 14.07812,20.99804 3.40239,7.97932 5.1582,16.42892 5.1582,25.45899 0,8.91965 -1.75639,17.36984 -5.1582,25.34179 -3.40179,8.09676 -8.09721,15.01819 -14.07812,20.88868 -5.98808,5.74566 -12.90978,10.44 -20.77149,13.84179 -7.97196,3.51903 -16.42,5.15821 -25.33984,5.15821 -9.14747,0 -17.6932,-1.68662 -25.57617,-5.15821 -7.83339,-3.44974 -14.80845,-8.06205 -20.76368,-13.84179 -6.01379,-5.8366 -10.67632,-12.79192 -14.07812,-20.88868 -3.51923,-7.97195 -5.1582,-16.42214 -5.1582,-25.34179 0,-9.03007 1.63879,-17.47966 5.1582,-25.45899 3.40181,-7.97194 8.09741,-15.00994 14.07812,-20.99804 5.98811,-5.9807 12.90935,-10.676133 20.76368,-14.07813 7.86173,-3.402376 16.87914,-5.166203 25.57617,-5.158203 z' /%3E%3C/g%3E%3Cg id='g1872-6' transform='translate(-488.36111,10.598267)' style='display:inline;paint-order:markers fill stroke'%3E%3Cpath id='path1811-3' style='display:inline;fill:%23000000;paint-order:markers fill stroke' class='UnoptimicedTransforms' inkscape:label='path1811-3' d='M 619.49393,29.4011 A 126.13345,126.13345 0 0 0 493.36111,155.53587 126.13345,126.13345 0 0 0 619.49393,281.66868 126.13345,126.13345 0 0 0 745.62869,155.53587 126.13345,126.13345 0 0 0 619.49393,29.4011 Z m 1.10937,60 c 8.62025,0.0077 17.36789,1.756417 25.33985,5.158203 7.86171,3.401997 14.7834,8.097427 20.77148,14.078127 5.98091,5.9881 10.67633,13.0261 14.07813,20.99805 3.40238,7.97932 5.1582,16.42891 5.1582,25.45898 0,8.91965 -1.7564,17.36984 -5.1582,25.3418 -3.4018,8.09675 -8.09722,15.01818 -14.07813,20.88867 -5.98808,5.74566 -12.90977,10.44 -20.77148,13.8418 -7.97196,3.51902 -16.42001,5.1582 -25.33985,5.1582 -9.14748,0 -17.6932,-1.68662 -25.57617,-5.1582 -7.83338,-3.44975 -14.80846,-8.06206 -20.76367,-13.8418 -6.0138,-5.8366 -10.67632,-12.79192 -14.07813,-20.88867 -3.51922,-7.97196 -5.1582,-16.42215 -5.1582,-25.3418 0,-9.03007 1.6388,-17.47965 5.1582,-25.45898 3.40181,-7.97195 8.09741,-15.00995 14.07813,-20.99805 5.9881,-5.9807 12.90935,-10.67613 20.76367,-14.078127 7.86173,-3.402376 16.87914,-5.166203 25.57617,-5.158203 z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");  
  background-size: 200px 150px; 
  font-size: 130px;
  width: 200px;
  /*  content: "Ⰿ";  
  font-size: 200px;
  font-family: "Segoe UI Historic", "FreeSerif";
  color: #222;
  bottom: -50px  */
}

.circle {
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  border: 15px solid rgba(128, 128, 128, 0.1);
  border-top-color: #333;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
  opacity: 0.5;
}

.circle-1 {
  top: 1px;
  left: 1px;
  animation-duration: 1.5s;
  border-top-color: #339;
}

.circle-2 {
  opacity: 0.75;
  top: 1px;
  right: 2px;
  animation-duration: 2s;
  border-top-color: #FFF;
}

.circle-3 {
  bottom: 1px;
  left: 2px;
  margin-left: 25px;
  animation-duration: 4s;
  border-top-color: #990;
}

.circle-4 {
  bottom: 1px;
  right: 0px;
  margin-right: 27px;
  animation-duration: 6s;
  border-top-color: #933;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.hidden {
    opacity: 0.0;
    z-index: -20;
}
